In [14]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df = pd.read_excel('online_merged.xlsx', sheet_name='merged')

In [16]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,493414,21844,RETRO SPOT MUG,36,2010-01-04 10:28:00,2.55,14590,United Kingdom
1,493414,21533,RETRO SPOT LARGE MILK JUG,12,2010-01-04 10:28:00,4.25,14590,United Kingdom
2,493414,37508,NEW ENGLAND CERAMIC CAKE SERVER,2,2010-01-04 10:28:00,2.55,14590,United Kingdom
3,493414,35001G,HAND OPEN SHAPE GOLD,2,2010-01-04 10:28:00,4.25,14590,United Kingdom
4,493414,21527,RETRO SPOT TRADITIONAL TEAPOT,12,2010-01-04 10:28:00,6.95,14590,United Kingdom

In [17]:

df.describe()

             Invoice       Quantity          Price    Customer ID
count  770692.000000  770692.000000  770692.000000  770692.000000
mean   539271.351953      13.286099       2.993243   15327.973197
std     25509.968171     146.100973      11.160934    1696.651545
min    493414.000000       1.000000       0.001000   12346.000000
25%    517964.000000       2.000000       1.250000   13975.000000
50%    537868.000000       5.000000       1.950000   15260.000000
75%    562460.000000      12.000000       3.750000   16800.000000
max    581587.000000   80995.000000    8142.750000   18287.000000

In [18]:

df1 = df
df1.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,493414,21844,RETRO SPOT MUG,36,2010-01-04 10:28:00,2.55,14590,United Kingdom
1,493414,21533,RETRO SPOT LARGE MILK JUG,12,2010-01-04 10:28:00,4.25,14590,United Kingdom
2,493414,37508,NEW ENGLAND CERAMIC CAKE SERVER,2,2010-01-04 10:28:00,2.55,14590,United Kingdom
3,493414,35001G,HAND OPEN SHAPE GOLD,2,2010-01-04 10:28:00,4.25,14590,United Kingdom
4,493414,21527,RETRO SPOT TRADITIONAL TEAPOT,12,2010-01-04 10:28:00,6.95,14590,United Kingdom

In [19]:
#removing all negative and zero price and quantities
df1_price = df1[(df1[['Price','Quantity']] > 0).all(axis=1)]
df1.describe()

             Invoice       Quantity          Price    Customer ID
count  770692.000000  770692.000000  770692.000000  770692.000000
mean   539271.351953      13.286099       2.993243   15327.973197
std     25509.968171     146.100973      11.160934    1696.651545
min    493414.000000       1.000000       0.001000   12346.000000
25%    517964.000000       2.000000       1.250000   13975.000000
50%    537868.000000       5.000000       1.950000   15260.000000
75%    562460.000000      12.000000       3.750000   16800.000000
max    581587.000000   80995.000000    8142.750000   18287.000000

In [20]:
#taking only uk cases

df1_uk = df1_price[(df1_price['Country'] == 'United Kingdom')]
df1_uk.describe()

             Invoice       Quantity          Price    Customer ID
count  693591.000000  693591.000000  693591.000000  693591.000000
mean   539060.909630      11.939867       2.959358   15555.425506
std     25557.655087     143.146576      11.567652    1593.988866
min    493414.000000       1.000000       0.001000   12346.000000
25%    517665.000000       2.000000       1.250000   14205.000000
50%    537622.000000       4.000000       1.950000   15555.000000
75%    562282.000000      12.000000       3.750000   16938.000000
max    581586.000000   80995.000000    8142.750000   18287.000000

In [21]:
import calendar

In [22]:
#adding new columns to dataset for EDA

#adding new columns to dataset for EDA

df1['TotalAmount'] = df1['Quantity'] * df1['Price']
df1['InvoiceYear'] = df1['InvoiceDate'].dt.year
df1['InvoiceMonth'] = df1['InvoiceDate'].dt.month
df1['InvoiceDate_number'] = df1['InvoiceDate'].dt.date
df1['InvoiceWeekday'] = df1['InvoiceDate'].dt.day_name()
df1['InvoiceYearMonth'] = df1['InvoiceYear'].map(str) + "-" + df1['InvoiceMonth'].map(str)

In [23]:
df1.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalAmount,InvoiceYear,InvoiceMonth,InvoiceDate_number,InvoiceWeekday,InvoiceYearMonth
0,493414,21844,RETRO SPOT MUG,36,2010-01-04 10:28:00,2.55,14590,United Kingdom,91.8,2010,1,2010-01-04,Monday,2010-1
1,493414,21533,RETRO SPOT LARGE MILK JUG,12,2010-01-04 10:28:00,4.25,14590,United Kingdom,51.0,2010,1,2010-01-04,Monday,2010-1
2,493414,37508,NEW ENGLAND CERAMIC CAKE SERVER,2,2010-01-04 10:28:00,2.55,14590,United Kingdom,5.1,2010,1,2010-01-04,Monday,2010-1
3,493414,35001G,HAND OPEN SHAPE GOLD,2,2010-01-04 10:28:00,4.25,14590,United Kingdom,8.5,2010,1,2010-01-04,Monday,2010-1
4,493414,21527,RETRO SPOT TRADITIONAL TEAPOT,12,2010-01-04 10:28:00,6.95,14590,United Kingdom,83.4,2010,1,2010-01-04,Monday,2010-1

In [24]:
len(df.Invoice.unique())

35109

In [25]:
df1.describe()

,Invoice,Quantity,Price,Customer ID,TotalAmount,InvoiceYear,InvoiceMonth
count,770692.000000,770692.000000,770692.000000,770692.000000,770692.000000,770692.000000,770692.000000
mean,539271.351953,13.286099,2.993243,15327.973197,21.813453,2010.480305,7.329134
std,25509.968171,146.100973,11.160934,1696.651545,227.026222,0.499612,3.393817
min,493414.000000,1.000000,0.001000,12346.000000,0.001000,2010.000000,1.000000
25%,517964.000000,2.000000,1.250000,13975.000000,4.950000,2010.000000,4.000000
50%,537868.000000,5.000000,1.950000,15260.000000,11.900000,2010.000000,8.000000
75%,562460.000000,12.000000,3.750000,16800.000000,19.500000,2011.000000,10.000000
max,581587.000000,80995.000000,8142.750000,18287.000000,168469.600000,2011.000000,12.000000

In [26]:
#finding unique values

len(df1['Invoice'].unique())

35109

In [27]:
len(df1['StockCode'].unique())

4486

In [28]:
len(df1['Description'].unique())

5119

In [29]:
len(df1_uk['Description'].unique())

5081

In [30]:
len(df1['Customer ID'].unique())

5762

In [31]:
#top items purchased without quantity
top_items_1 = df1_uk.groupby('Description').count().sort_values(by = 'Invoice', ascending=False)
top_items_1['Invoice'].head(20)

Description
WHITE HANGING HEART T-LIGHT HOLDER    4710
REGENCY CAKESTAND 3 TIER              2958
ASSORTED COLOUR BIRD ORNAMENT         2537
JUMBO BAG RED RETROSPOT               2476
REX CASH+CARRY JUMBO SHOPPER          2011
PARTY BUNTING                         1963
LUNCH BAG  BLACK SKULL.               1958
HEART OF WICKER SMALL                 1848
HEART OF WICKER LARGE                 1842
HOME BUILDING BLOCK WORD              1784
LUNCH BAG SPACEBOY DESIGN             1744
WOODEN FRAME ANTIQUE WHITE            1699
JUMBO SHOPPER VINTAGE RED PAISLEY     1664
LUNCH BAG CARS BLUE                   1659
PAPER CHAIN KIT 50'S CHRISTMAS        1654
NATURAL SLATE HEART CHALKBOARD        1639
60 TEATIME FAIRY CAKE CASES           1631
STRAWBERRY CERAMIC TRINKET BOX        1619
WOODEN PICTURE FRAME WHITE FINISH     1588
JUMBO STORAGE BAG SUKI                1585
Name: Invoice, dtype: int64

In [32]:
#top items purchased with quantity
top_items = df1_uk.groupby('Description')
top_items_frq = top_items['Quantity'].agg(np.sum).sort_values(ascending=False)
top_items_frq.head(20)

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS      98161
PAPER CRAFT , LITTLE BIRDIE            80995
WHITE HANGING HEART T-LIGHT HOLDER     80645
MEDIUM CERAMIC TOP STORAGE JAR         76919
BROCADE RING PURSE                     69934
ASSORTED COLOUR BIRD ORNAMENT          69763
JUMBO BAG RED RETROSPOT                69011
PACK OF 60 PINK PAISLEY CAKE CASES     44430
SMALL POPCORN HOLDER                   40001
60 TEATIME FAIRY CAKE CASES            39384
PACK OF 12 LONDON TISSUES              36450
VICTORIAN GLASS HANGING T-LIGHT        36324
COLOUR GLASS T-LIGHT HOLDER HANGING    36182
ASSORTED COLOURS SILK FAN              36079
JUMBO BAG STRAWBERRY                   33135
PACK OF 72 RETROSPOT CAKE CASES        32143
PACK OF 72 SKULL CAKE CASES            32137
PACK OF 72 RETRO SPOT CAKE CASES       31047
RED  HARMONICA IN BOX                  30994
GIRLS ALPHABET IRON ON PATCHES         30624
Name: Quantity, dtype: int64

In [33]:
gp_month = df1_uk.sort_values('InvoiceDate').groupby(['InvoiceYear', 'InvoiceMonth'])
gp_month_invoices = gp_month['Invoice'].unique().agg(np.size)
gp_month_invoices

KeyError: 'InvoiceYear'

In [ ]:
gp_month_invoices.plot.bar()

From here on, we'll try to implement data sampling methids. One of the most common sampling methods in businesses is 'Pareto Principle', which states that roughly 20% of the efforts are result in 80 % of the results. In our context, the efforts are done by customers and the results are overall sales caused by each customer. Hence, we will try to identify top 20% of customer ID and create a new dataframe with them. Here we're not using items as the main efforts since some items may be purchased once or may have low impact on sales due to low unit price, but it could be a frequent item. This is just a sampling process to make the Apriori algorithm work faster.

In [ ]:
#Top 20 customers
customers_amounts = df1_uk.groupby('Customer ID')['TotalAmount'].agg(np.sum).sort_values(ascending=False)
customers_amounts

In [ ]:

top_customers = df1_uk.groupby('Customer ID').agg(np.sum).sort_values(by = 'TotalAmount', ascending=False).reset_index()
top_customers['Customer ID']
top_10_pcnt = top_customers['Customer ID'].head(int(len(top_customers)*(10/100)))
top_10_pcnt

In [ ]:
df2 = df1_uk.loc[df1_uk['Customer ID'].isin(top_10_pcnt)]
df2

In [ ]:
print(len(df2['Description'].unique()))
print(len(df2['Invoice'].unique()))

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
basket = (df2.groupby(['Invoice', 'Description'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('Invoice'))

In [ ]:
basket

In [ ]:
def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1

In [ ]:
basket_encoded = basket.applymap(hot_encode)

In [ ]:
basket_encoded

In [ ]:
frq_items = apriori(basket_encoded, min_support = 0.02, use_colnames = True) 
frq_items.sort_values(by = 'support', ascending = False)

In [ ]:
rules = association_rules(frq_items, metric ="lift") 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

In [ ]:
rules.to_csv('rules.csv', index = True, header = True)

In [ ]:
basket.to_csv ('basket.csv', index = True, header=True)

In [ ]:
def edit1(s1, s2):
    if len(s1) > len(s2):
        s1, s2 = s2, s1

    distances = range(len(s1) + 1)
    for i2, c2 in enumerate(s2):
        distances_ = [i2+1]
        for i1, c1 in enumerate(s1):
            if c1 == c2:
                distances_.append(distances[i1])
            else:
                distances_.append(1 + min((distances[i1], distances[i1 + 1], distances_[-1])))
        distances = distances_
    return distances[-1]

In [ ]:
edit1('hellos ','belslo')

In [ ]:
def calculate_ed(string1,string2):
    string1 = string1.split()
    string2 = string2.split()
    distmatrix = [([0]*(len(string2)+1)) for i in range(len(string1)+1)]
    
    for i in range(0,len(string1)+1):
        distmatrix[i][0] = i
    for i in range(0,len(string2)+1):
        distmatrix[0][i] = i
    
    for i in range(1,(len(string1)+1)):
        #print(i)
        for j in range(1,(len(string2)+1)):
            if(string1[i-1]==string2[j-1]):
                distmatrix[i][j] = distmatrix[i-1][j-1]
            else:
                distmatrix[i][j] = min(distmatrix[i-1][j] +1 ,distmatrix[i][j-1] +1 ,distmatrix[i-1][j-1] + 1)
                
    return distmatrix[i][j]
print(calculate_ed('shree is awesome','shree is okay i gueess'))

In [ ]:
import os, itertools
itemlist = df1['Description'].unique()
groups = [list(g) for _, g in itertools.groupby(itemlist, lambda x: x.partition('_')[0])]
groups